.actions {
	visibility: hidden;
	z-index: 100;
}

.nameSet, .name, .category, .worldHook {
	padding: 10px 15px;
	border: solid 1px #1c1e22;
	border-bottom: none;
	vertical-align: middle;
}

.nameSet:FIRST-CHILD, .name:FIRST-CHILD, .categoryFIRST-CHILD,
	.worldHookFIRST-CHILD {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.nameSet:LAST-CHILD, .name:LAST-CHILD, .category:LAST-CHILD, .worldHook:LAST-CHILD
	{
	border-bottom: solid 1px #1c1e22;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 20px;
}

.nameSet:HOVER .actions {
	visibility: visible;
}

.nameSet:HOVER, .name:HOVER, .category:HOVER, .worldHook:HOVER {
	background-color: #49515a;
}

.selected {
	background-color: #49515a;
}

.selected:HOVER {
	background-color: #3e444c;
}

.treeview .list-group {
	margin-bottom: 0px;
	box-shadow: none;
}

.nameList {
	overflow-y: auto;
	max-height: 20em;
}

select:invalid {
	color: grey;
}

.navbar-nav .dropdown-menu .caret {
	transform: rotate(-90deg);
}